---
const { location, index } = Astro.props;
---

<section
  class={`lg:flex lg:gap-7 ${index % 2 === 1 ? "lg:flex-row-reverse" : ""}`}
>
  <picture>
    <source srcset={location.mapMobile.src} media="(min-width: 1026px)" />
    <source srcset={location.mapTablet.src} media="(min-width: 768px)" />
    <img
      src={location.mapMobile.src}
      alt={location.name}
      class="w-full md:rounded-2xl"
    />
  </picture>

  <div class="md:h-7 lg:hidden"></div>

  <div
    class="bg-[url(/bgCircleSvg/bg-pattern-three-circles.svg)]
    bg-no-repeat text-center md:text-left
    md:bg-left-bottom
    py-20 px-6 md:py-22 md:px-16
    bg-very_light_peach md:rounded-2xl
    lg:flex-1"
  >
    <h1 class="text_h1 text-[40px] text-peach mb-6">{location.name}</h1>

    <div class="flex flex-col gap-6 text_body md:flex-row">
      <div class="md:w-1/2">
        <h2 class="font-semibold">{location.officename}</h2>
        {
          location.address.split("<br>").map((line: string, index: number) => (
            <>
              {line}
              {index < location.address.split("<br>").length - 1 && <br />}
            </>
          ))
        }
      </div>
      <div class="md:w-1/2">
        <h2 class="font-semibold">Contact</h2>
        <p>P:{location.phone}</p>
        <p>M:{location.email}</p>
      </div>
    </div>
  </div>
</section>
