---
import { Image } from "astro:assets";
import rightArrowIcon from "assets/shared/desktop/icon-right-arrow.svg";
import { services } from "data/services.js";
---

<section class="[&_img]:rounded-2xl flex flex-col gap-6">
  {
    services
      .filter(
        (service) =>
          service.name.toLowerCase() !==
          Astro.url.pathname.split("/services/").pop(),
      )
      .map((service) => (
        <a href={`/services/${service.name}`}>
          <div class="relative flex justify-center group">
            <div class="relative w-full">
              <picture>
                <source srcset={service.imageTablet.src} media="(min-width: 768px)" />
                <img src={service.imageMobile.src} alt={service.name} class="w-full" />
              </picture>
              {/* <Image src={service.image} alt={service.name} class="" /> */}
              <div
                class="absolute top-0 left-0 w-full h-full
            bg-peach/30 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-2xl
              "
              />
              <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white text-xl font-bold">
                <h2 class="text_h2 mb-4 uppercase whitespace-nowrap">
                  {service.name} DESIGN
                </h2>
                <div class="flex items-center gap-4">
                  <p class="text_h3 text-[15px]">VIEW PROJECTS</p>
                  <Image src={rightArrowIcon} alt="Right Arrow" />
                </div>
              </div>
            </div>
          </div>
        </a>
      ))
  }
</section>
